header{
            background-color: rgb(0,0,0,0.3);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 10%;
        }
        li{
            list-style: none;
            display: inline-block;
            padding: 0px 20px;
        }
        nav li a{
            transition: all 0.3s ease 0s;
        }
        nav li a:hover{
            color: black;
            text-decoration: underline;
        }
         button {
            padding: 10px 20px;
            background-color: rgb(131, 195, 231);
            cursor: pointer;
            border-radius: 25%;
           color:black;
            transition: all 0.3s ease 0s;
         }
         button:hover{
            background-color: rgb(60, 202, 84);
            font-weight: 700;
         }