nav {
    background-color: rgb(151, 178, 231);
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border: 3px solid rgb(12, 3, 12);
}
img{
    width: 300px; 
    height: 300px;
    border: 3px solid black;
}
table.table2 {
    border-collapse: collapse;
    border-spacing: 3px;
    width: 40%;
    border: 1px solid black;
  }
  table.table2 th, table.table2 td {
      text-align: left;
      padding: 8px;
  }

  .youtube-video {
    border: none; 
    width: 560px;
    height: 315px;
}
#mak:hover{
    /* Safari 6.0 - 9.0 */
    filter: brightness();
    animation: rotation 4s infinite linear;
    width: 190%;
    height: 180%;
}
#mak{
    position: relative;
    -webkit-filter: blur(5px);
    filter: grayscale();
    animation: mymove 2s infinite;
    animation-delay: 0s;
   
}

@keyframes mymove {
    0%   {left: 0px; top: 0px;}
    25%  {left: 400px; top: 0px;}
    50%  {left: 400px; top: 400px;}
    75%  {left: 0px; top: 400px;}
    100% {left: 0px; top: 0px;}
  }
@keyframes rotation {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(359deg);
}
}