#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes swirlDust {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400px 100px; 
  }
}